/* @override http://localhost:3000/stylesheets/style.css */

body {
  padding: 50px;
}

footer#page_foot {
margin-top: 25px;
  padding-bottom: 25px;
}

ul.footer-link-list {
  margin-bottom: 15px;
  list-style-type: none;
  text-align: center;
}

ul.footer-link-list li {
  display: inline;
}

ul.footer-link-list li a {
  text-decoration: none;
  padding: .2em 1.5em;
}

footer.footer-link {
  margin-bottom: 15px;
}

div.footer-info {
  font-size: 11px;
}

#page_foot div.footer-info span.footer-copyright {
  float: left;
}

#page_foot div.footer-info span.footer-info {
  float: right;
}

